// Colors
$color-first: #456 !default;
$color-second: #abc !default;
$color-third: #def !default;
$color-background: #ddd !default;

// Font
$font: Helvetica, sans-serif !default;
$font-color: #000 !default;
