doctype
html
  head
    title
    link(rel='stylesheet', href='/assets/css/#{stylesheet}.css')

  body
    h1 Oh, Hi!

    .first
      h2 First

    .second
      h2 Second

    .third
      h2 Third
